body{
    background-color: black;
}

/*Navbar*/
.navbar-text a{
    font-family: Tangerine;
    color: #E8E8E8;
}

.navbar-text a:hover{
    color: #820263;
}

.navbar-text a:visited{
    color: #E8E8E8;
}

.navbar-text a:visited:hover{
    color: #820263;
}

.navbar-toggler-icon{
    background-image: url(images/bars-solid.svg);
}

#navbarBrand{
    letter-spacing: .1em;
}

#navbar-main .active{
    color: #820263;
}

/*Content*/

#bio-container{
    /*margin-top: 18em;*/
    /*border: 5px solid #FFFFFF;*/
}

#bio {
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 1em;
    color:#E8E8E8;
}

#bio-container img{
    width: 100%;
}

#music-container{
    margin-top: 8em;
    /* background-color: rgb(0, 0, 0, 0.5);
    border-radius: 1em; */
    color:#E8E8E8;
}

#music-container h1{
    text-align: center;
}

#music-container .row{

    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 1em;
    width: 90%;
}

#music-container img{
    width: 100%;
}

#contact-container{
    margin: 0.5em;
    margin-top: 8em;
}

#contact-container img{
    width: 50px;
    margin: 10px;
}

@media(max-width: 992px){
    #bio-container{
        margin-top: 0em;
    }
}
